* {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow: hidden;
}

.titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498DB;
  border-radius: 1em;
  padding: 1vh 2vh;
  /* border-bottom: 1px solid rgb(133, 133, 133); */
  -webkit-app-region: drag; /* Permite arrastrar la ventana desde esta barra */
}

.titlebar h1 {
  font-size: 4vh;
  text-align: left;
  color: #2C3E50;
}

.titlebar-controls {
  display: flex;
  gap: 1vh; /* Espaciado entre los botones */
  -webkit-app-region: no-drag; /* Permite interactuar con los botones */
}

#control-button-minimize, #control-button-close {
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  padding: 0.5vh 1vh;
}

#control-button-minimize:hover {
  background-color: #2ECC71;
}

#control-button-close:hover {
  background-color: rgb(255, 100, 100);
}

  .container {
    background-color: #F5F7FA;
    width: 100%;
    border-radius: 1em;
    margin: 0 auto;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .charCountSpan, .wordCountSpan, .sentenceCountSpan {
    margin-bottom: 2vh;
  }

  .results {
    text-align: left;
    padding: 2% 5% 3% 5%;
    font-size: 3vh;
  }
  
  .controls {
    padding: 3%;
  }

  .input-text {
    width: 90%;
    height: 55vh;
    border-radius: 1em;
    padding: 3vh;
    border: none;
    resize: none;
    font-size: 2.5vh;
    box-shadow: 0 1.5vh 5vh rgba(0, 0, 0, 0.2);
  }

  .input-text:focus {
    box-shadow: 0 1.5vh 5vh rgba(0, 0, 0, 0.5);
  }
 
  .clear-button {
    border: none;
    cursor: pointer;
    border-radius: 1em;
    height: 10vh;
    width: 10vh;
    box-shadow: 0 0.9vh 1.5vh rgba(0, 0, 0, 0.3);
  }
  
  .clear-button:hover {
    background-color: rgb(255, 100, 100);
    box-shadow: 0 0.5vh 1.5vh rgb(185, 0, 0);
  }